.env.local
.local/
node_modules/
dist/
coverage/
data/
tmp/
ui/dist/
packages/*/src/**/*.js
packages/*/src/**/*.js.map
packages/*/src/**/*.d.ts
packages/*/src/**/*.d.ts.map
**/__pycache__/
**/*.pyc
**/.DS_Store
.context/
